<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.longvideo.mapper.LongVideoUserMapper">

    <!--查询单个-->
    <select id="selectVideoUserById" resultType="com.magic.longvideo.pojo.entity.LongVideoUserEntity">
        select   *
        from long_video_db.long_video_user
        where user_id = #{userId}
    </select>

</mapper>
